# The project's virtual environment
.env

# tox's virtual environments
.tox

# while runnning the app from the tox environment, data is stored in a sqlite
# database stored in tests/test.sqlite
tests/test.sqlite

# the layout compilation tests place the rendered TeX sources into tmp_compilation
tmp_compilation

# ignore Sphinx's build directory
docs/build

# ignore coverage-temporary files
.coverage.*
.coverage
lcov.info

# mypy's cache directory
.mypy_cache

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# ignore the compiled language files
*.mo
