{% extends "calingen/app_base.html" %}

{% block page_title %}Event: EventListView{% endblock page_title %}

{% block main %}
<h2>Event List</h2>

<section>
  <table>
    {% if event_list %}
    {% for event in event_list %}
    <tr>
      <td>
        <a href="{{ event.get_absolute_url }}">{{ event.title }}</a>
      </td>
      <td>{{ event.start }}</td>
      <td>{{ event.get_type_display }}</td>
      <td>{{ event.owner }}</td>
    </tr>
    {% endfor %}
    {% else %}
    <tr>
      <td>Could not fetch Event list.</td>
    </tr>
    {% endif %}
  </table>
</section>
{% endblock main %}
