{% extends "calingen/app_base.html" %}

{% block page_title %}Profile: ProfileUpdateView{% endblock page_title %}

{% block main %}
<h2>CalInGen Profile of {{ profile.owner }}</h2>

<strong>{{ profile.event_count }}</strong> user-provided Events,
<strong>{{ provider_events_count }}</strong> Events provided by plugins.

<h3>Available Actions:</h3>
<ul>
  <li>see all Calender Entries as a list: <a href="{% url "calender-entry-list-year" profile_id %}">this year</a></li>
  <li><a href="{% url "event-add" %}">add Events</a> to your profile</li>
  <li>see <a href="{% url "event-list" %}">all Events</a></li>
  <li>update your <a href="{% url "profile-update" profile_id %}">Profile Settings</a></li>
</ul>

{% endblock main %}
